img {
  width: 293px;
  /*height: auto;*/
}

#home li {
  list-style-type: none;
}

.strike {
  text-decoration: line-through;
}

.navbar-right {
  padding-right: 10px;
}

.carousel-element{
    margin-left: -100px;
}

.carousel{
    margin-top: 20px;
}
    
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}
.item{
    background: #333;
    text-align: center;
    height: 300px !important;
}

.bs-example{
	margin: 20px;
}
