<div class="container">

  <div class="col-md-12 well">
    <div class="bs-example">
      <div id="myCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>


        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <h2>Slide 1</h2>
            <div class="carousel-caption">
              <h4>Kitten Is Utterly Confused By The Discovery Of Her Tail</h4>
              {{#link-to 'kitten'}}<img src="css/img/kitten.jpg" />{{/link-to}}
            </div>
          </div>
          <div class="item">
            <h2>Slide 2</h2>
            <div class="carousel-caption">
              <h4>Wearable Bananas?</h4>
              {{#link-to 'banana'}} <img src="css/img/banana.jpeg" />{{/link-to}}
            </div>
          </div>
          <div class="item">
            <h2>Slide 3</h2>
            <div class="carousel-caption">
              <h4>James Harden kicks Lebron in the groin</h4>
              {{#link-to 'lebron'}}<img src="css/img/lebron.jpg" />{{/link-to}}
            </div>
          </div>
          <div class="item">
            <h2>Slide 4</h2>
            <div class="carousel-caption">
              <h4>Lady Gaga and Vince Vaughn jump in a freezing lake</h4>
              {{#link-to 'gaga'}}<img src="css/img/gaga.jpeg" />{{/link-to}}
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
  <div class="col-sm-9">
  <div class="row">
  <div class="col-sm-12">
      <div class="col-sm-6">
        {{#link-to 'banana'}}<img src="css/img/banana.jpeg" />
          <li href="#">Wearable Banana</li>{{/link-to}}
        <hr>
        Lauren Berbato           41 minutes ago
      </div>
      <div class="col-sm-6">
        {{#link-to 'lebron'}}<img src="css/img/lebron.jpg" />
          <li href="#">James Harden kicks Lebron in the groin.</li>{{/link-to}}
        <hr>
        Lauren Berbato           41 minutes ago
      </div>
  </div>
  </div>


  <div class="row">
  <div class="col-sm-6">
    {{#link-to 'kitten'}} <img src="css/img/kitten.jpg" />
    <li href="#">Kitten Is Utterly Confused By The Discovery Of Her Tail</li>
    {{/link-to}}
    <hr>
    Jamie Kenney              an hour ago
  </div>
  <div class="col-sm-6">
    {{#link-to 'gaga'}}<img src="css/img/gaga.jpeg" />
    <li href="#">Why did Lady Gaga and Vince Vaughn jump in a freezing lake?</li>
    {{/link-to}}
    <hr>
    Amy Sciarreto             2 hours ago
  </div>
    </div>
  </div>
    <div class="col-sm-3">
        <img src="css/img/sidebar.png" />

    </div>
  </div>

</div>
